---
---

@import "{{ site.theme }}";

#background-video {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

body {
    color: #fff;   
}

h1, h2, h3, h4, h5 {
    color: #888;
}

p {
    text-align: justify;
}
